#tit{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.3rem;
color: rgb(243, 241, 241);
}

h2{
    font-family:'Times New Roman', Times, serif;
}
.form-control{
background-color: rgb(201, 232, 244);

}