#card{
background-color: rgb(29, 86, 86);
 /* background-color: rgb(28, 171, 171);   */
box-shadow: 2px 2px 3px rgb(92, 224, 229);
}
#title{

color: rgba(255, 255, 255, 0.865);

}

span{
color: rgb(86, 236, 156);
text-decoration: underline;

font-weight: 500;
}
#desc{
    color: rgb(153, 151, 146);
}